{% extends 'cabinetMedical/main.html' %} 

{% block content %}

      <h1 class="p-3">les patient</h1> 

      <div class="container">
        <div class="row" style="color: #08520e; font-size: 22px;">
          <div class="col">
            Name client:{{patient.Nom}}
          </div>
          <div class="col"   >
            Email:{{patient.Ville}}
          </div>
          <div class="col">
            Age :{{patient.Tel1}}
          </div>
          <div class="col">
            Tele :{{patient.DateNaissance}}
          </div>
          
        </div>
      </div>


      



      
{% endblock  %}